
<div id="carousel" class="carousel slide" data-ride="carousel" xmlns="http://www.w3.org/1999/html">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="../images/pic1.jpg" alt="...">

        </div>
        <div class="item">
            <img src="../images/pic2.jpg" alt="...">
           >
        </div>
        <div class="item">
            <img src="../images/pic1.jpg" alt="...">

        </div>
        <div class="item">
            <img src="../images/pic2.jpg" alt="...">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
    <div class="panel-footer" align="center"><h4>BUILD YOUR BUSINESS AND PERSONAL WEBSITE TODAY!</h4></div>


        <div class="panel-heading" align="center"><h3><bold>FEATURES</bold></h3></div>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


<table class="table table-condensed">
    <div class="row">
        <div class="col-md-1" align="right">
            <img src="../images/pic1.jpg" alt="" class="img-circle" width="60" height="35" style="margin-top:5px;"/>
        </div>
        <div class="col-md-2" style="margin-left:-25px">


                #318,16th Cross, 5th Phase<br/>
                Bangalore - 560078<br/>
                India

                </div>

        <div class="col-md-1" align="right">
            <img src="../images/pic1.jpg" alt=""  width="60" height="35" style="margin-top:5px;"/>

        </div>
                <div class="col-md-2" style="margin-left:-25px;">



                (0039) 389 957 5552<br/>
                support@eMangu.com


        </div>
        <div class="col-md-1" align="right">

            <img src="../images/pic1.jpg" alt="" class="img-circle" width="60" height="35" style="margin-top:5px;"/>
            </div>
        <div class="col-md-2" style="margin-left:-25px">

               <font style = "font-weight:bold";> RECRUITMENT</font><br/>
                We are frequently on the lookout for new talent!


        </div>


            <div class="col-md-1" align="right">
                <img src="../images/pic1.jpg" alt="" class="img-circle" width="60" height="35" style="margin-top:5px;"/>
                </div>
                <div class="col-md-2" style="margin-left:-25px">
                FOLLOW US
            </div>


        </div>

    <div class="row">
        <div class="col-md-1" align="right">
            <img src="../images/pic1.jpg" alt="" class="img-circle" width="60" height="35" style="margin-top:5px;"/>
        </div>
        <div class="col-md-2" style="margin-left:-25px">


            #318,16th Cross, 5th Phase<br/>
            Bangalore - 560078<br/>
            India

        </div>

        <div class="col-md-1" align="right">
            <img src="../images/pic1.jpg" alt=""  width="60" height="35" style="margin-top:5px;"/>

        </div>
        <div class="col-md-2" style="margin-left:-25px;">



            (0039) 389 957 5552<br/>
            support@eMangu.com


        </div>
        <div class="col-md-1" align="right">

            <img src="../images/pic1.jpg" alt="" class="img-circle" width="60" height="35" style="margin-top:5px;"/>
        </div>
        <div class="col-md-2" style="margin-left:-25px">

            <font style = "font-weight:bold";> RECRUITMENT</font><br/>
            We are frequently on the lookout for new talent!


        </div>


        <div class="col-md-1" align="right">
            <img src="../images/pic1.jpg" alt="" class="img-circle" width="60" height="35" style="margin-top:5px;"/>
        </div>
        <div class="col-md-2" style="margin-left:-25px">
            FOLLOW US
        </div>


    </div>

</table>

        <div>
        <h3 align="center"><bold>TEMPLATE</bold></h3>
            </div>



    <table class="table table-condensed">
        <div class="row">


            <div class="col-md-4" align="center">

                    <img src="../images/pic1.jpg" alt=""   width="350" height="155" style="margin-top:5px;"/>

            </div>
            <div class="col-md-4" align="center">


                    <img src="../images/pic1.jpg" alt=""  width="350" height="155" style="margin-top:5px;"/>


            </div>
            <div class="col-md-4" align="center">

                    <img src="../images/pic1.jpg" alt=""  width="350" height="155" style="margin-top:5px;"/>


            </div>

        </div>
        <div class="row">


            <div class="col-md-4" align="center">

                <img src="../images/pic1.jpg" alt=""   width="350" height="155" style="margin-top:20px;"/>

            </div>
            <div class="col-md-4" align="center">


                <img src="../images/pic1.jpg" alt=""  width="350" height="155" style="margin-top:20px;"/>


            </div>
            <div class="col-md-4" align="center">

                <img src="../images/pic1.jpg" alt=""  width="350" height="155" style="margin-top:20px;"/>


            </div>

        </div>
        </table>


<div class="panel-body">
    <table class="table table-condensed">
        <div class="row" align="center">

            Would you like to sign up for our programme?<br/>
                Please register here

            </div>
        <div class="row">

            <div class="col-md-7" align="right">
                <div class="row-md-1">

                <input type="text" ng-model="username" placeholder="Username"><br/>
                <input type="password"  ng-model="password" placeholder="Password"><br/>
                    Don't have an emangu account<br/>
                    <p style = "margin-right:48px">sign-up here!</p>
                    </div>

                </div>
            <div class="col-md-5" align="left">
                <button type="button" class="btn btn-default navbar-btn">LOGIN</button><br/>

            </div>

        </div>
        <div class="row" align="center">
            <div class="col-md-6" align="right">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out 1
                </label>
            </div>
                </div>
            <div class="col-md-6" align="left">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out 2
                </label>
            </div>
            </div>
            </div>
        <div class="row" align="center">
            <div class="col-md-6" align="right">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out 3
                </label>
            </div>
                </div>
            <div class="col-md-6" align="left">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out 4
                </label>
            </div>
                </div>
        </div>
    </table>

</div>



