
</div>
</br>
<h1></h1>


<html>
<body>
<div class="header_bnner">
<div class="container">
<div class="small_container">
    <div class="small_container_text">
        The Business features of Emangu
    </div>
    <div class="small_container_text_small">Emangu is a lot more than a free website builder; we aim at making
        your professional activity succeed over the internet. All our services are based on offering the highest
        level of quality to our members.
    </div>
</div>
<div class="feature_body">
    <div id="foo">
        <div class="well well-sm">
            <div id="onMouseOut">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>

                </div>
                <div class="user_friendly">A user friendly website builder</div>

            </div>
            <div id="onMouseIn" style="display:none">
                <div class="feature_text">A user friendly website builder</div>
                <div class="feature_text1">Build a free, professional website with emangu, and
                    add,change,drag & drop your content as you like
                </div>
            </div>
        </div>
    </div>

    <div id="foo1">
        <div class="well well-sm">
            <div id="onMouseOut1">
                <div class="feature_image">
                    <image src="../images/emangu1.png"></image>
                </div>
                <div class="user_friendly">Strong online visibility</div>
            </div>
            <div id="onMouseIn1" style="display:none">
                <div class="feature_text">Strong online visibility</div>
                <div class="feature_text1">Your business`swebsite will quick become visible in search
                    engines , such as Google ,Yahoo, and Bing , drving new traffic and customers.
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="link_arrow">></div>
        <div class="create_your">CREATE YOUR SITE</div>
    </div>
    <div id="foo2">
        <div class="well well-sm">
            <div id="onMouseOut2">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>
                </div>
                <div class="user_friendly">Total design customisation</div>

            </div>
            <div id="onMouseIn2" style="display:none">
                <div class="feature_text">Total design customisation</div>
                <div class="feature_text1">Work from professionally designed themes and templates or start whit
                    a blank canvas where you imagination can run wild.
                </div>
            </div>
        </div>
    </div>

    <div id="foo3">
        <div class="well well-sm">
            <div id="onMouseOut3">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>
                </div>
                <div class="user_friendly">A Site without add</div>

            </div>
            <div id="onMouseIn3" style="display:none">
                <div class="feature_text">A Site without add</div>
                <div class="feature_text1">Build a free website without banner ads to maintain its professional
                    nature. With emangu, highlight your activity in the best bossible manner.
                </div>
            </div>
        </div>
    </div>
    <div class="foo4">
        <div class="well well-sm">
            <div class="onMouseOut4">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>
                </div>
                <div class="user_friendly">Social networks integration</div>

            </div>
            <div class="onMouseIn4" style="display:none">
                <div class="feature_text">Social networks integration</div>
                <div class="feature_text1">Automatically share short updates or full articles to the main social
                    network(Facebook,Twitter,Linkedin)
                </div>
            </div>
        </div>
    </div>

    <div class="foo5">
        <div class="well well-sm">
            <div class="onMouseOut5">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>
                </div>
                <div class="user_friendly">Unlimited storage and pages</div>

            </div>
            <div class="onMouseIn5" style="display:none">
                <div class="feature_text">Unlimited storage and pages</div>
                <div class="feature_text1">Add as much content to your web space as you wish. create as many web pages
                    as need.
                </div>
            </div>
        </div>
    </div>
    <div class="foo6">
        <div class="well well-sm">
            <div class="onMouseOut6">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>
                </div>
                <div class="user_friendly">Image and video</div>

            </div>
            <div class="onMouseIn6" style="display:none">
                <div class="feature_text">Image and video</div>
                <div class="feature_text1">Freely add,move,resize your photo videos on your web pages.
                </div>
            </div>
        </div>
    </div>
    <div class="foo7">
        <div class="well well-sm">
            <div class="onMouseOut7">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>
                </div>
                <div class="user_friendly">Image and video</div>

            </div>
            <div class="onMouseIn7" style="display:none">
                <div class="feature_text">Image and video</div>
                <div class="feature_text1">Freely add,move,resize your photo videos on your web pages.
                </div>
            </div>
        </div>
    </div>
    <div class="foo8">
        <div class="well well-sm">
            <div class="onMouseOut8">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>
                </div>
                <div class="user_friendly">Image and video</div>

            </div>
            <div class="onMouseIn8" style="display:none">
                <div class="feature_text">Image and video</div>
                <div class="feature_text1">Freely add,move,resize your photo videos on your web pages.
                </div>
            </div>
        </div>
    </div>
    <div class="foo10">
        <div class="well well-sm">
            <div class="onMouseOut10">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>
                </div>
                <div class="user_friendly">Image and video</div>

            </div>
            <div class="onMouseIn10" style="display:none">
                <div class="feature_text">Image and video</div>
                <div class="feature_text1">Freely add,move,resize your photo videos on your web pages.
                </div>
            </div>
        </div>
    </div>
    <div class="foo9">
        <div class="well well-sm">
            <div class="onMouseOut9">
                <div class="feature_image">
                    <image src="../images/eman.png"></image>
                </div>
                <div class="user_friendly">Image and video</div>

            </div>
            <div class="onMouseIn9" style="display:none">
                <div class="feature_text">Image and video</div>
                <div class="feature_text1">Freely add,move,resize your photo videos on your web pages.
                </div>
            </div>
        </div>
    </div>

</div>

</div>
<div class="border_big">


    <div class="small_container_text18">
        The Business features of Emangu
        <button type="button" class="btn btn-danger">Join Now</button>
    </div>


</div>
<div class="border_big1">


    <div class="small_container_text18">
        <div class="drol_left"></div>
        <div class="dropdown1">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <image src="../images/flag.png"></image>English
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>
<div class="panel-body">
    <table class="table table-condensed">
        <div class="row" align="center">

            Would you like to sign up for our programme?<br/>
            Please register here

        </div>
        <div class="row">

            <div class="col-md-7" align="right">
                <div class="row-md-1">

                    <input type="text" ng-model="username" placeholder="Username"><br/>
                    <input type="password"      ng-model="password" placeholder="Password"><br/>
                    Don't have an emangu account<br/>
                    <p style = "margin-right:48px">sign-up here!</p>
                </div>

            </div>
            <div class="col-md-5" align="left">
                <button type="button" class="btn btn-default navbar-btn">LOGIN</button><br/>

            </div>

        </div>
        <div class="row" align="center">
            <div class="col-md-6" align="right">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out 1
                    </label>
                </div>
            </div>
            <div class="col-md-6" align="left">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out 2
                    </label>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-6" align="right">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out 3
                    </label>
                </div>
            </div>
            <div class="col-md-6" align="left">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out 4
                    </label>
                </div>
            </div>
        </div>
    </table>

</div>

</div>
</body>
</html>
<script>

    $(document).ready(function () {
        $('#foo').hover(function () {
                    //This is onMouseIn event
                    $('#onMouseIn').slideDown("slow");
                    $('#onMouseOut').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('#onMouseOut').slideDown("slow");
                    $('#onMouseIn').slideUp("slow");
                });
    });
    $(document).ready(function () {
        $('#foo1').hover(function () {
                    //This is onMouseIn event
                    $('#onMouseIn1').slideDown("slow");
                    $('#onMouseOut1').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('#onMouseOut1').slideDown("slow");
                    $('#onMouseIn1').slideUp("slow");
                });
    });
    $(document).ready(function () {
        $('#foo2').hover(function () {
                    //This is onMouseIn event
                    $('#onMouseIn2').slideDown("slow");
                    $('#onMouseOut2').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('#onMouseOut2').slideDown("slow");
                    $('#onMouseIn2').slideUp("slow");
                });
    });
    $(document).ready(function () {
        $('#foo3').hover(function () {
                    //This is onMouseIn event
                    $('#onMouseIn3').slideDown("slow");
                    $('#onMouseOut3').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('#onMouseOut3').slideDown("slow");
                    $('#onMouseIn3').slideUp("slow");
                });
    });
    $(document).ready(function () {
        $('.foo4').hover(function () {
                    //This is onMouseIn event
                    $('.onMouseIn4').slideDown("slow");
                    $('.onMouseOut4').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('.onMouseOut4').slideDown("slow");
                    $('.onMouseIn4').slideUp("slow");
                });
    });
    $(document).ready(function () {
        $('.foo5').hover(function () {
                    //This is onMouseIn event
                    $('.onMouseIn5').slideDown("slow");
                    $('.onMouseOut5').slideUp(10);
                },
                function () {
                    //This is onMouseOut event
                    $('.onMouseOut5').slideDown("slow");
                    $('.onMouseIn5').slideUp("slow");
                });
    });


    $(document).ready(function () {
        $('.foo6').hover(function () {
                    //This is onMouseIn event
                    $('.onMouseIn6').slideDown("slow");
                    $('.onMouseOut6').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('.onMouseOut6').slideDown("slow");
                    $('.onMouseIn6').slideUp("slow");
                });
    });
    $(document).ready(function () {
        $('.foo7').hover(function () {
                    //This is onMouseIn event
                    $('.onMouseIn7').slideDown("slow");
                    $('.onMouseOut7').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('.onMouseOut7').slideDown("slow");
                    $('.onMouseIn7').slideUp("slow");
                });
    });
    $(document).ready(function () {
        $('.foo8').hover(function () {
                    //This is onMouseIn event
                    $('.onMouseIn8').slideDown("slow");
                    $('.onMouseOut8').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('.onMouseOut8').slideDown("slow");
                    $('.onMouseIn8').slideUp("slow");
                });
    });
    $(document).ready(function () {
        $('.foo9').hover(function () {
                    //This is onMouseIn event
                    $('.onMouseIn9').slideDown("slow");
                    $('.onMouseOut9').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('.onMouseOut9').slideDown("slow");
                    $('.onMouseIn9').slideUp("slow");
                });
    });
    $(document).ready(function () {
        $('.foo10').hover(function () {
                    //This is onMouseIn event
                    $('.onMouseIn10').slideDown("slow");
                    $('.onMouseOut10').slideUp("slow");
                },
                function () {
                    //This is onMouseOut event
                    $('.onMouseOut10').slideDown("slow");
                    $('.onMouseIn10').slideUp("slow");
                });
    });

</script>





