<div class="container signup">
    <div class="registation">

        <h1>Welcome Back!!!</h1>

        <h1>Sign In</h1>
        <form id="frm_login" class="animated fadeIn">
            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                <div class="col-md-10">
                    <input name="login_username" id="login_username" type="text" class="form-control"
                           placeholder="Username">
                </div>
            </div><br>
            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                <div class="col-md-10">
                    <input name="login_pass" id="login_pass" type="password" class="form-control"
                           placeholder="Password">
                </div>
            </div><br>
            <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                <div class="col-md-10 button_margin">
                    <button type="button" class="btn btn-primary btn-cons">Login</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-info btn-cons" id="register_toggle"> Create
                        Account
                    </button>
                </div>
            </div>

            <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                <div class="control-group  col-md-10">
                    <div class="checkbox checkbox check-success"><a href="#">Trouble login in?</a>&nbsp;&nbsp;
                        <input type="checkbox" id="checkbox1" value="1">
                        <label for="checkbox1">Keep me reminded </label>
                    </div>
                </div>
            </div>
        </form>

</div>
</div>

