</br>
</br>
<div class="container">
    <div style="text-align: center; min-height: 100%">
        <h1>Welcome Back!!!</h1>

        <form name="loginForm" class="auth-form">
            <h2 class="auth-form-heading">Please sign in</h2><br/>

            <div class="alert alert-warning" ng-show="authReason">
                {{authReason}}
            </div>
            <div class="alert alert-error" ng-show="authError">
                {{authError}}
            </div>

            <input type="text" class="input-block-level" placeholder="Email address" ng-model="user.email" required
                   autofocus>
            <input type="password" class="input-block-level" placeholder="Password" ng-model="user.password" required>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label><br/>
            <a class="btn btn-large btn-primary" type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid">Sign
                in</a>
            <a class="btn btn-link" href="#/users/register">Register</a>
        </form>
    </div>
</div>
</br>

        <div style="width: 100%; height: 15px; background-color: #211947"></div>