
<div class="container signup">
    <div class="registation">
        <h2 class="auth-form-heading">Sign up</h2><br/>

        <div class="form_center">
            <div class="auth-form">
                <form id="frm_register" class="animated fadeIn">

                    <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                        <div class="col-md-10">
                            <input name="reg_username" id="reg_username" type="text" class="form-control"
                                   placeholder="Username">
                        </div>
                    </div><br>
                    <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                        <div class="col-md-10">
                            <input name="reg_mail" id="reg_mail" type="text" class="form-control"
                                   placeholder="Email">
                        </div>
                    </div><br>
                    <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                        <div class="col-md-10">
                            <input name="reg_pass" id="reg_pass" type="password" class="form-control"
                                   placeholder="Password">
                        </div>
                    </div><br>

                    <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                        <div class="col-md-10">
                            <input name="conf_pass" id="reg_pass1" type="password" class="form-control"
                                   placeholder="Confirm Password">
                        </div>
                    </div><br>
                    <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                        <div class="col-md-10 button_margin">
                            <button type="button" class="btn btn-info btn-cons">Create Account</button>
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary btn-cons" id="login_toggle"> Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
